.swiper-pagination-bullet {
    background-color: var(--color-white);
    opacity: 0.5;

    &.swiper-pagination-bullet-active {
        opacity: 1;
    }
}

.swiper-slide {
    cursor: pointer;
    position: relative;

    img {
        display: block;
    }

    .hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--color-bg-tertiary);
        opacity: 0;

        transition: opacity 0.4s ease;

        .icon {
            fill: var(--color-white);
            transform: scale(0);
            transition: transform 0.8s $ease-out-expo;
        }
    }

    .text,
    .text--horaire {
        position: relative;
        z-index: 2;
    }

    &:hover {
        .hover {
            opacity: 0.7;

            .icon {
                transform: scale(1);
            }
        }
    }
}

.swiper-tertiary {
    margin-top: var(--spacing-xl);
}

.swiper-secondaire {
    a {
        display: block;
    }
}
